
html,body{
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    margin: 0;
    background-color: #F1F1F1;
    overflow: auto; /* Prevent body to be pushed down from child's margin-top */
}
section{
    width: 1000px;
    height: auto;
    margin: auto;
}
button:hover{
    cursor: pointer;
}
button:focus, input:focus{
    outline: none;
}
hr{
    border-color: #3E454B;
    margin: 0;
}

/********** Header **********/
header {
    text-align: center;
    width: 100%;
    height: 65px;
    background-color: #3E454B;
}
header span {
    text-align: left;
    width: 1000px;
    display: inline-block;
    color: #F1F1F1;
    font-size: 26px;
    font-weight: 300;
    margin: 18px auto 0;
}
/********** Survey Info ***********/
#survey_info{
    text-align: left;
    width: 100%;
    height: 70px;
}
#title, #lecturer, #date{
    display: inline-block;
    color: #3E454B;
    margin-right: 25px;
}
#lecturer, #date{
    transform: translate(0, 120%);
    font-size: 19px;
}
#title{
    transform: translate(0, 70%);
    font-size: 25px;
}

/********** Input Data ***********/
#input_data{
    white-space: nowrap; /* Sequences of whitespace will collapse into a single whitespace */
    margin: 20px 0px 0px;
    height: 100px;
    width: 100%;
}
.input_container{
    vertical-align: top;
    margin: 0px 7px 0px 0px;
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 85px;
    overflow: auto;
}
.absolute_area{
    position: absolute;
    width: 78%;
    height: 100px;
    margin: auto;
    left: 0;
    right: 0;
    top: 175px;
}
#input_scroll{
    width: 75%;
    height: 100px;
    overflow-y: hidden;
    overflow-x: scroll;
    display: inline-block;
}
.input_container input{
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 11px;
    margin-top: 10px;
    width: 45px;
    height: 45px;
    box-shadow: 2px 2px 2px 2px #B4B4B4;
}
.result_index{
    margin: 0;
    font-size: 18px;
    color: #ABABAB;
}
#survey_count{
    margin-top: 24px;
    font-size: 19px;
    color: #3E454B;
}
.left-border{
    text-align: right;
    width: 95%;
    height: 35px;
    border-left: 1px solid #969696;
    transform: translate(0, 110%);
}
#submit{
    float: right;
    overflow: hidden;
    margin-left: 7px;
    width: 150px;
    height: 100%;
}
#submit button, #complete{
    border-radius: 0;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 300;
    background-color: #96C3C3;
    width: 100px;
    height: 40px;
    box-shadow: 2px 2px 1px 1px #B4B4B4;
    transform: translate(0, -10%);
}
.guide_text{
    text-align: right;
    color: #646464;
    margin-top: 0px; 
}
/********** Display Data ***********/
#display_data{
    background-color: #DDDDDD;
    white-space: nowrap;
    display: inline-block;
    overflow-y: hidden;
    overflow-x: scroll;
    min-width: 1000px;
    width: 100%;
    max-height: 400px;
    height: 400px;
    margin: 0px auto 30px;
    box-shadow: 1px 1px 1px 1px #B4B4B4;
}
#question_index{
    overflow-x: visible;
    /* overflow-y: hidden;
    overflow-x: scroll; */
    color: #F1F1F1;
    height: 44px;
    min-width: 100%;
    width: auto;
    background-color: #3E454B;
}
.index_container span{
    display: inline-block; /* allows margin-top for span elements */
    margin: 13px 0px 0px;;
}
.index_container{
    overflow: auto;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 100%;
}
.table_display{
    display: table;
    width: 100%;
}
#question_result{
    overflow-y: scroll;
    width: auto;
    min-width: 100%;
    height: 356px;
    min-height: 356px;
}
#question_result span{
    display: inline-block;
}
.survey_count{
    border-right: 1px solid #3E454B;
}
.added_result_container{
    /* overflow-x: scroll;
    overflow-y: hidden; */
    border-bottom: 1px solid #C6C6C6;
    width: auto;
    height: 40px;
}
.table_content, .survey_count{
    /* overflow: auto; */
    display: inline-block;
    color: #3E454B;
    margin: 0;
    text-align: center;
    height: 100%;
    width: 50px;
}
.table_content{
    /* overflow: auto; */
    font-weight: 300;
}
.added_result_container span{
    margin-top: 12px;
}
.submit_container{
    width: 100%;
    text-align: center;
}

/********** SCROLLBAR Crome & Safari **********/
#input_scroll::-webkit-scrollbar-track
{
	background-color: #F1F1F1;
}

#input_scroll::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
	background-color: #F1F1F1
}

#input_scroll::-webkit-scrollbar-thumb
{   
    border-radius: 5px;
	background-color: #DDDDDD;
}

#display_data::-webkit-scrollbar-track
{   
	background-color: #DDDDDD;
}

#display_data::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
	background-color: #F5F5F5;
}

#display_data::-webkit-scrollbar-thumb
{   
    width: 100px;
    border-radius: 5px;
	background-color: #646464;
}

#question_result::-webkit-scrollbar-track
{
	background-color: #DDDDDD;
}

#question_result::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
	background-color: #F5F5F5;
}

#question_result::-webkit-scrollbar-thumb
{   
    border-radius: 5px;
	background-color: #646464;
}

/** IE **/
#input_scroll{
    scrollbar-arrow-color:#9D9992;
    scrollbar-3dlight-color:#D4D0C8;
    scrollbar-darkshadow-color:#D4D0C8;
    scrollbar-face-color:#FFFFFF;
    scrollbar-track-color:#F1F1F1;
}
