
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    background-color: #F1F1F1;
    overflow: auto; /* Prevent body to be pushed down from child's margin-top */
}

/********** Title section **********/
.info_wrapper {
    margin: 80px 12% 0;
    width: 76%;
    text-align: left;
    font-size: 16px;
}

.main_info {

    margin: 0px 0px 20px;
}

.main_info label {
    font-weight: 400;
}

.edit_button {
    color: gray;
    font-size: 12px;
    text-decoration: underline;
}

.edit_button:hover {
    cursor: pointer;
}

#title {
    top: 0;
    left: 0;
    position: absolute;
    width: 76%;
    height: 65px;
    padding: 0 12%;
    background-color: #3E454B;
}

#title label {
    font-size: 25px;
    color: #C8C8C8;
}

#title input {
    border: none;
    background-color: #3E454B;
    color: #C8C8C8;
    font-size: 20px;
    height: 55px;
    width: 75%;
}

#title input:focus {
    outline: none;
}

#title ::-webkit-input-placeholder {
    font-size: 20px;
    color: #C8C8C8;
}

.info_input {
    font-size: 16px;
    font-weight: 400;
    border: none;
    width: 75%;
    height: 20px;
    background-color: #F1F1F1;
}

.info_input:focus {
    outline: none;
}

.info_input::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: 400;
}

#date {
    margin: 0px 0px 5px;;
    display: inline-block;
}

#submit_button {
    font-size: 15px;
    color: white;
    background-color: #96C3C5;
    border-radius: 2px;
    border: none;
    width: 130px;
    height: 32px;
    float: right;
    display: inline-block;
}

#submit_button:focus {
    outline: none;
}

#submit_button:hover {
    cursor: pointer;
}

#submit_button img {
    float: left;
    width: 20px;
    height: 20px;
}

/********** Question section **********/
.survey_wrapper {
    width: 76%;
    height: auto;
    margin: 20px auto 0;
}

.survey_tabs {
    width: 100%;
    height: 100%;
}

.survey_heading {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    border-top-right-radius: 15px;
    position: absolute;
    width: 100%;
    height: 42px;
    top: 0;
}
#group .survey_heading{
    background-color: #B6CEE3;
}
#category .survey_heading{
    background-color: #D3DDD5;
}
#item .survey_heading{
    background-color: #E6E6D5;
}
.survey_heading span {
    display: block;
    transform: translate(0, 60%);
    height: 20px;
    margin-left: 30px;
}
.survey_content {
    box-shadow: 1px 2px 1px 1px #A6A6A6;
    border-top-right-radius: 15px;
    position: absolute;
    height: 600px;
    margin: 0;
    display: inline-block;
}
.content_area{
    position: absolute;
    width: 100%;
    top: 85px;
    height: 517px;
    overflow-y: scroll;
}

.added_group, .added_category {
    width: 80%;
    /* height: 35px; */
    /*padding: 8px 0px;*/
    border-radius: 5px;
    border: 1px solid #C0BFBF;
    margin: 15px auto;
    background-color: #F8F6F6;
    font-weight: 300;
    transition: 300ms;
    word-break: break-all;
}

.text{
    padding: 8px 0;
}

.absolute_wrapper{
    position: absolute;
    width: 80%;
}
.item_absolute{
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.group_rm_btn, .category_rm_btn, .item_rm_btn{
    display: none;
    width: 15px;
    height: 15px;
    position: absolute;
}
.group_rm_btn, .category_rm_btn{
    top: -6px;
    right: -6px;
}
.item_rm_btn{
    left: -5px;
    top: -24px;
}
.added_group:hover .group_rm_btn{
    display: block;
}
.added_category:hover .category_rm_btn{
    display: block;
}
.added_item:hover .item_rm_btn{
    display: block;
}

.added_group:hover, .added_category:hover {
    cursor: pointer;
    border: 1px solid #787878;
}

#group {
    background-color: #DAE7F1;
    width: 16%;
    left: 12%;
}

#category {
    background-color: #E0F0E6;
    width: 20%;
    left: 29%;
}

#item {
    background-color: #F4F2E5;
    width: 38%;
    right: 12%;
}

.item_index {
    vertical-align: top;
    display: inline-block;
    width: 20px;
    padding: 5px;
}

.item_text {
    text-align: left;
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
    width: 75%;
    word-break: break-all;
}
.added_item{
    margin: 10px auto;
}
.added_item:hover {
    cursor: pointer;
    font-weight: 600;
}

/* .add_button{
    box-shadow: 1px 1px 1px 1px #D5D5D5;
    border-radius: 50%;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    z-index: 10;
    border: none;
    font-size: 25px;
}
.add_button:hover{
    cursor: pointer;
}
.add_button:focus{
    outline: none;
} */

.add_text {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    margin: 5px auto 0px;
    background: none;
    border: none;
    border-bottom: 1px solid #3E454B;
    width: 80%;
    height: 25px;
}

.add_text:focus {
    outline: none;
}