.animationload {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    display:none;
}
.osahanloading {
    /*animation: osahanloading 1.5s linear 0s normal none infinite running;*/
    animation: osahanloading 1.5s linear forwards 0s;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 30px;
}
.osahanloading::after {
    /*animation: osahanloading_after 1.5s linear 0s normal none infinite running;*/
    animation: osahanloading_after 1.5s linear forwards 0s;
    border-color: #85d6de transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 60px;
    left: -25px;
    position: absolute;
    top: -25px;
    width: 60px;
}

@keyframes osahanloading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        background: #85d6de none repeat scroll 0 0;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        ransform: rotate(360deg);
    }
}
