html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F1F1F1;
}
header {
    width: 100%;
    height: 65px;
    background-color: #3E454B;
}
header span {
    position: absolute;
    color: #F1F1F1;
    font-size: 26px;
    font-weight: 300;
    margin-top: 18px;
    left: 11%;
}
header img {
    position: absolute;
    right: 12%;
    top: 15px;
    width: 30px;
    height: 40px;
}
#survey_area {
    width: 80%;
    height: auto;
    padding: 30px 10% 0;
}
#create_survey {
    background-color: #96C3C6;
    transition: 200ms;
    vertical-align: top; /* prevent its element pushed down */
}
#create_survey:hover, header img:hover {
    cursor: pointer;
}
#create_survey:hover{
    -webkit-filter: brightness(90%); /* Safari */
    filter: brightness(90%);
}
#create_survey img {
    width: 50px;
    height: 50px;
    transform: translate(0%, 130%);
}
#create_survey div {
    color: #F1F1F1;
    font-size: 12px;
    margin-top: 100px;
}
.create_box {
    overflow: auto; /* prevent from first box to be pushed down */
    display: inline-block;
    text-align: center;
    margin: 0px 12px 35px;
    width: 160px;
    height: 188px;
    background-color: white;
    box-shadow: 0px 8px 0px -3px #CED1D3;
}

.text_container>p {
    position: absolute;
    left: 0;
    right: 0;
    font-weight: 300;
    margin: 0;
}
.text_container>p:nth-child(1){
    top: 60px;
    font-weight: 400;
    font-size: 17px;
}
.text_container>p:nth-child(2){
    bottom: 40px;
    font-size: 15px;
}
.text_container>p:nth-child(3){
    font-size: 14px;
    bottom: 20px;
}
.text_container{
    z-index: 10;
    position: absolute;
    width: 160px;
    height: 188px;
}
.report, .input {
    margin-top: 28px;
    width: 30px;
    height: 35px;
}
.upper, .lower {
    cursor: pointer;
}
.slide_contents:hover{
    z-index: 500;
    box-shadow: 1px 1px 5px 1px #B4B4B4;
}
.slide_contents>p {
    font-weight: 300;
    font-size: 9px;
    margin: 5px;
}
.upper>p{
    color: white;
}
.lower>p{
    color: #6D7878;
}
.option_button{
    position: absolute;
    bottom: -25px;
    width: 100%;
    height: 25px;
}
.lower_option{
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    width: 12px;

    transition: visibility 0.5s, opacity 0.5s linear;
}
.lower_option:hover{
    cursor: pointer;
}
.edit_wrapper, .delete_wrapper{
    top: 10px;
    width: 12px;
    height: 17px;
    position: absolute;
}
.edit_wrapper{
    left: 45px;
}
.edit_wrapper:hover .edit_box{
    display: block;
}
.delete_wrapper{
    right: 45px;
}
.delete_wrapper:hover .delete_box{
    display: block;
}
.edit_box, .delete_box{
    display: none;
    top: -60px;
    position: relative;
    width: 65px;
    z-index: 500;
}
.edit_box{
    left: -25px;
}
.delete_box{
    right: 25px;
}

/********** Animation Effect **********/
.text_container:hover .upper{
    height: 94px;
    transition: 0.5s ease;
}
.text_container:hover .lower{
    height: 94px;
    transition: 0.5s ease;
}
.text_container:hover .lower_option{
    visibility: visible;
    opacity: 1;
    transition: 300ms;
}
.slide_contents{
    overflow: hidden;
    position: absolute;
    z-index: 200;
    width: 160px;
    transition: 0.5s ease;
}
.upper{
    top: 0;
    height: 0;
    background-color: #5F696A;
}
.lower{
    height: 0;
    bottom: 0;
    background-color: #E5E5E5;
}
/**************************************/

