html,body{
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    margin: 0;
    background-color: #F1F1F1;
    overflow: auto; /* Prevent body to be pushed down from child's margin-top */
}
section{
    width: 1100px;
    height: auto;
    margin: auto;
    box-shadow: 1px 1px 10px 1px #B4B4B4;
}
button:hover, header img:hover{
    cursor: pointer;
}
button:focus, input:focus{
    outline: none;
}
hr{
    margin: 0;
}
.amcharts-chart-div a{
    display: none !important;
}
canvas{
    position: relative;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%) scale(1.1);
    margin: auto;
}
.canvas_background{
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999998;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.option_button{
    bottom: 30px;
    right: 40px;
    position: absolute;
    width: 80px;
    padding: 9px 0px;
    background-color: #F1F1F1;
    font-size: 13px;
    border-radius: 10px;
    color: #3E454B;
}
.option_button:hover{
    cursor: pointer;
}
a:link, a:visited { 
    color: #3E454B; text-decoration: none;
}

#download{
    right: 130px;
}
/********** Chart **********/

.graph {
    width: 100%;
    height: 400px;
    font-size: 11px;
    background-color: #fff;
}
  
.amcharts-pie-slice {
    transform: scale(1);
    transform-origin: 50% 50%;
    transition-duration: 0.3s;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    cursor: pointer;
    box-shadow: 0 0 30px 0 #000;
    border: solid;
}
  
.amcharts-pie-slice:hover {
    transform: scale(1.1);
    filter: url(#shadow);
}							

/********** Header **********/
header {
    width: 100%;
    height: 65px;
    background-color: #3E454B;
}
.header_contents{
    position: relative;
    width: 1100px;
    height: 65px;
    left: 0;
    right: 0;
    margin: auto;
}
header span {
    position: absolute;
    color: #F1F1F1;
    font-size: 26px;
    font-weight: 300;
    margin-top: 18px;
    left: 0;
}
header img {
    position: absolute;
    right: 0;
    top: 15px;
    width: 30px;
    height: 40px;
}
.v_middle{
    top: 50%;
    transform: translate(0, -50%);
}
/********** Totl result ***********/
#total_evaluation{
    display: none;
    margin: 25px auto;
    background-color: #fff;
    height: 320px;
    box-shadow: 1px 1px 10px 1px #B4B4B4;
}
#lecturer_info_container, #score_summary_container, #total_score_container{
    vertical-align: top;
    display: inline-block;
    height:93%;
}
#lecturer_info_container{
    width: 290px;
}
#score_summary_container{
    width: 440px;
}
.summary_header{
    position: relative;
    top: 18px;
    left: 30px;
    color: #3E454B;
}
.lecturer_info{
    position: relative;
    width: 100%;
    height: 220px;
    text-align: center;
}
.lecturer_info img{
    display: block;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin: 0px auto 25px;
    box-shadow: 1px 1px 10px 1px #B4B4B4;
}
.lecturer_info span{
    color: #3E454B;
    font-weight: 600;
}
.border_div{
    height: 220px;
    border-left: 2px solid #55607B;
    position: relative;
    top: 45%;
}
.bar_container{
    position: relative;
    height: auto;
    width: 100%;
}
.bar{
    width: 100%;
    height: 35px;
    margin: 12px 0px;
}
.bar_result{
    z-index: 100;
    position: absolute;
    width: 300px;
    height: 35px;
    background-color: #55607B;
}
.bar_group{
    color: white;
    font-size: 14px;
    display: block;
    margin: 9px 0px 0px 17px;
}
.group_percent{
    display: inline-block;
    font-size: 14px;
    float: right;
    position: relative;
}
.bar_background{
    display: inline-block;
    z-index: 1;
    width: 400px;
    height: 100%;
    background-color: #BFBFBF;
}
#total_score_container{
    float: right;
    width: 339px;
}
.score_element{
    position: relative;
    height: 100px;
    padding-left: 30px;
    top: 45%;
}
.score_element img{
    display: inline-block;
    width: 80px;
}
.score_element span{
    display: inline-block;
    color: #55607B;
}
#total_score{
    font-size: 60px;
}
.footer_text{
    margin: 0px 10px 0px 0px;
    float: right;
    color: rgb(187, 186, 186);
    font-size: 14px;
}
/********** Survey Info ***********/
#survey_info{
    text-align: left;
    width: 100%;
    height: 40px;
    padding: 23px 0px 10px;
    background-color: #fff;
}
.top_side{
    display: inline-block;
    width: auto;
}
#title, #lecturer, #date, #survey_count{
    display: inline-block;
    color: #3E454B;
    margin-right: 25px;
}
#lecturer, #date, #survey_count{
    /* transform: translate(0, 120%); */
    font-size: 19px;
}
#title{
    margin-left: 50px;
    /* transform: translate(0, 70%); */
    font-size: 22px;
}
#survey_count{
    float: right;
    color: #747474;
    font-size: 17px;
}
/********** Evaluation ***********/
.group_header{
    height: 50px;
    background-color: #3E454B;
}
.group_header span{
    font-size: 20px;
    color: white;
    margin: 15px 10px 10px 50px;
    display: inline-block;
}
.category_header{
    height: 40px;
    width: 100%;
}
.category_header span{
    margin: 10px 0px 0px 50px;
    display: inline-block;
    color: #3E454B;
    font-size: 18px;
    font-weight: 300;
}
.question{
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 15px;
    color: #747474;
}
.question_container{
    position: relative;
    margin-top: -400px;
    width: 1100px;
    height: 80px;
}

