html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F1F1F1;
}
button:hover{
    cursor: pointer;
}
button:focus{
    outline: none;
}
input{
    color: #F1F1F1;
    font-size: 13px;
    font-weight: 300;
}
input:focus{
    outline: none;
}
.logo{
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    height: 100px;
}
.background_box, .form_container{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    transform: translate(0%, -50%);
    box-shadow: 1px 3px 20px 1px #3E454C;
}
.background_box{
    z-index: 0;
    width: 300px;
    height: 320px;
    background-color: #96C3C5;
    transition: 300ms;
}
.form_container{
    text-align: center;
    z-index: 10;
    width: 260px;
    height: 360px;
    background-color: #3E454C;
 
}
.input_container{
    position: absolute;
    top: 40%;
    transform: translate(0%, -50%);
    width: 100%;
    height: 40%;
}
#email_text, #password_text{
    height: 23px;
    width: 87%;
    margin: 40px auto 0px;
    background-color: #3E454C;
    border: none;
    border-bottom: 1px solid #F1F1F1;
}
#email_text::-webkit-input-placeholder, #password_text::-webkit-input-placeholder{
    font-size: 13px;
    color: #F1F1F1;
    font-weight: lighter;
    opacity: 0.5;
}
#login_button, #signup_button{
    margin: auto;
    display: block;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    left: 0;
    right: 0;
}
#login_button{
    border: none;
    bottom: 70px;
    background-color: #F1F1F1;
    width: 200px;
    height: 30px;
    border-radius: 17px;
}
.signup_input_container{
    position: absolute;
    height: 320px;
}
#signup_button{
    box-shadow: none;
    width: 50px;
    bottom: 32px;
    background: none;
    border:none;
    color: #F1F1F1;
}
.signup{
    text-align: center;
    z-index: 200;
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms, opacity 300ms linear;
}
.signup_text{
    color: #3E454C;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: #96C3C5;
    height: 23px;
    width: 87%;
    margin: 30px auto 0px;
}
.signup_text:nth-child(1){
    margin-top: 60px;
}
.signup_text::-webkit-input-placeholder{
    font-size: 13px;
    opacity: 0.7;
    color: #fff;
    font-weight: lighter;
}
#signup{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    display: block;
    color: #F1F1F1;
    font-size: 13px;
    font-weight: 300;
    bottom: 50px;
    background-color: #3E454C;
    width: 200px;
    height: 30px;
    border-radius: 17px;
}
#cancel{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    bottom: 12px;
    font-size: 12px;
    border: none;
    background: none;
    color: #3E454C;
}
#confirm_login_message, #confirm_signup_message{
    display: none;
    width: 100%;
    bottom: 105px;
    position: absolute;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: #ec4a4a;
}
#confirm_signup_message{
    font-weight: 400;
    bottom: 80px;
}
